<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
   <div style="text-align: center;">
       <div style="text-align: center;">
           <h3>Press here to create a new game </h3>
           <form action="/login/new" method="post">
               <input type="submit" value="new game"/><br/>
           </form>

           <h3>Press here if there is a specific game you'd like to be part of</h3>
           <form action="/login/existing" method="post">
               <input type="submit" value="existing game"/><br/>
           </form>
       </div>
   </div>

</body>
</html>